#offcanvasAccount {
  --bs-offcanvas-width: 360px;

  .nav-link {
    --bs-navbar-active-color: var(--bs-link-color);

    &:hover {
      background-color: var(--bs-tertiary-bg);
    }
  }
}

#header a + #offcanvasAccount {
  visibility: hidden !important;
  position: fixed !important;
}